alabaster==0.7.16
apache-airflow-providers-common-compat==1.2.1
apache-airflow-providers-common-io==1.4.2
apache-airflow-providers-fab==1.5.0
apache-airflow-providers-postgres==5.13.1
apache-airflow-providers-smtp==1.8.0
cachelib==0.9.0
clickclick==20.10.2
Flask-Babel==2.0.0
Flask-Limiter==3.8.0
Flask-SQLAlchemy==2.5.1
googleapis-common-protos==1.65.0
google-re2==1.1.20240702
h11==0.14.0
importlib_resources==6.4.5
limits==3.13.0
lockfile==0.12.2
methodtools==0.4.7
opentelemetry-exporter-otlp==1.28.0
opentelemetry-exporter-otlp-proto-common==1.28.0
opentelemetry-exporter-otlp-proto-grpc==1.28.0
opentelemetry-exporter-otlp-proto-http==1.28.0
opentelemetry-proto==1.28.0
ordered-set==4.1.0
prison==0.2.1
psycopg2-binary==2.9.10
rich-argparse==1.6.0
setuptools==69.5.1
Sphinx==7.3.7
sphinxcontrib-jquery==4.1
sphinxcontrib-serializinghtml==2.0.0
sphinx-rtd-theme==2.0.0
time-machine==2.16.0
universal_pathlib==0.2.5
wirerope==0.4.7
absl-py==1.4.0
accelerate==1.7.0
ace_tools==0.0
addict==2.4.0
agate==1.9.1
aiofiles==24.1.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.13.3
alembic==1.8.1
aliyun-python-sdk-core==2.15.0
aliyun-python-sdk-kms==2.16.2
altair==5.4.1
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.8.0
apache-airflow==2.10.5
apache-airflow-providers-common-sql==1.21.0
apache-airflow-providers-ftp==3.6.1
apache-airflow-providers-http==4.7.0
apache-airflow-providers-imap==3.4.0
apache-airflow-providers-snowflake==6.0.0
apache-airflow-providers-sqlite==3.5.0
apify_client==1.8.1
apify_shared==1.2.1
apispec==6.8.1
appdirs==1.4.4
arabic-reshaper==3.0.0
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
asn1crypto==1.5.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.2
async-timeout==4.0.2
attrs==25.1.0
azure-ai-formrecognizer==3.3.3
azure-common==1.1.28
azure-core==1.32.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
backports.tarfile==1.2.0
base32hex==1.0.2
bcrypt==4.3.0
beautifulsoup4==4.12.3
biotite==1.0.1
biotraj==1.2.1
bitstring==4.0.2
bleach==6.0.0
blinker==1.9.0
blis==0.7.10
blosc2==2.0.0
boto3==1.26.142
botocore==1.29.142
brainflow==5.8.2
BrainflowCyton==0.1.1
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.3.1
camelot-py==1.0.0
catalogue==2.0.9
cattrs==22.2.0
celluloid==0.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
chromadb==0.6.3
chroma-hnswlib==0.7.6
chronometry==2020.11.12
clean-text==0.6.0
cleo==2.1.0
click==8.1.3
cloudpickle==2.2.1
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
colouration==2020.7.26
comm==0.1.3
commonmark==0.9.1
comtypes==1.2.0
confection==0.1.1
configparser==7.1.0
ConfigUpdater==3.1.1
connexion==2.14.2
contourpy==1.0.7
crashtest==0.4.1
crcmod==1.7
croniter==6.0.0
cron_descriptor==1.2.32
cryptography==44.0.1
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
dacite==1.7.0
daff==1.3.46
databricks-cli==0.18.0
dataclasses-json==0.6.7
datasets==3.6.0
DateTime==5.1
dbt==1.0.0.38.18
dbt-adapters==1.14.0
dbt-common==1.14.0
dbt-core==1.9.2
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.7.4
dbt-snowflake==1.9.1
debugpy==1.6.7
decorator==4.4.2
deepdiff==7.0.1
deepsearch-glm==1.0.0
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
diagrams==0.24.1
dill==0.3.8
disk==2021.6.29
distlib==0.3.9
distro==1.9.0
dm-tree==0.1.9
dnspython==2.2.1
docarray==0.40.0
docker==6.1.3
docker-pycreds==0.4.0
docling==2.16.0
docling-core==2.15.1
docling-ibm-models==3.3.0
docling-parse==3.1.2
docstring_parser==0.16
docutils==0.19
dukpy==0.3.0
dulwich==0.22.8
durationpy==0.9
easyocr==1.7.2
EasyProcess==1.1
ecdsa==0.19.0
egi-pynetstation==0.0.0rc1
einops==0.8.1
elevenlabs==0.2.16
email_validator==2.2.0
emoji==1.7.0
ensure==1.0.2
entrypoint2==1.1
entrypoints==0.4
esprima==4.0.1
etils==1.12.2
et-xmlfile==1.1.0
eval_type_backport==0.2.2
exceptiongroup==1.1.3
executing==1.2.0
Farama-Notifications==0.0.4
fastapi==0.115.7
fastjsonschema==2.21.1
ffmpeg-python==0.2.0
ffpyplayer==4.5.0
fiftyone-brain==0.20.1
fiftyone_db==1.1.7
filelock==3.12.2
filetype==1.2.0
findpython==0.6.3
Flask==2.2.2
Flask-AppBuilder==4.5.2
Flask-Caching==2.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-WTF==1.2.2
flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
fredapi==0.5.2
freetype-py==2.4.0
frozendict==2.4.4
frozenlist==1.3.3
fsspec==2025.2.0
ftfy==6.1.1
func_timeout==4.3.5
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.4.0
geographiclib==2.0
geopy==2.4.1
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.31
glob2==0.7
google-ai-generativelanguage==0.6.15
google-api-core==2.24.0
google-api-python-client==2.163.0
google-auth==2.19.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-documentai==3.1.0
google-cloud-vision==3.9.0
google-genai==1.5.0
google-generativeai==0.8.4
google-pasta==0.2.0
google_search_results==2.4.2
graphql-core==3.2.6
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.71.0
grpcio-health-checking==1.68.0
grpcio-reflection==1.68.0
grpcio-status==1.70.0
gTTS==2.3.2
gunicorn==20.1.0
gym==0.26.2
gymnasium==0.29.1
gym-notices==0.0.8
h11==0.14.0
h2==4.2.0
h5py==3.8.0
hpack==4.1.0
html2text==2020.1.16
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.31.4
humanfriendly==10.0
humanize==4.12.2
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.4
imageio==2.37.0
imageio-ffmpeg==0.4.8
imagesize==1.4.1
imbalanced-learn==0.10.1
immutabledict==4.2.1
importlib-metadata==6.11.0
inflate64==1.0.1
inflection==0.5.1
installer==0.7.0
ipykernel==6.23.1
ipyspeck==0.6.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
javascripthon==0.12
jax==0.4.12
jcloud==0.3
jedi==0.18.2
jina==3.33.0
jina-hubble-sdk==0.39.0
Jinja2==3.1.2
jiter==0.8.2
jmespath==0.10.0
joblib==1.2.0
json5==0.9.14
jsonlines==3.1.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
json-tricks==3.17.1
jupyterlab==4.0.2
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.1
jupyterlab_widgets==3.0.13
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_packaging==0.12.3
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
kaleido==0.2.1
keras==2.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keras-tuner==1.3.5
keyring==25.4.1
kiwisolver==1.4.4
kt-legacy==1.0.5
kubernetes==32.0.1
langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.45
langchain-experimental==0.3.4
langchain-openai==0.3.9
langchain-text-splitters==0.3.7
langcodes==3.3.0
langgraph==0.3.20
langgraph-checkpoint==2.0.23
langgraph-prebuilt==0.1.6
langgraph-sdk==0.1.58
langsmith==0.3.16
Lasagne==0.1
lazy_loader==0.3
lazy-object-proxy==1.8.0
leather==0.4.0
libclang==16.0.0
lightning-utilities==0.11.2
linkify-it-py==2.0.0
litellm==1.63.6
llvmlite==0.43.0
Logbook==1.5.3
lxml==4.9.3
Mako==1.2.4
Mako==1.3.5
mammoth==1.9.0
Markdown==3.4.1
markdownify==0.14.1
markdown-it-py==2.1.0
markitdown==0.0.1a3
marko==2.1.2
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.14
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.1
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mistralai==1.5.2
mistune==2.0.5
mlflow==2.2.2
mlxtend==0.22.0
ml-dtypes==0.2.0
mmcv==2.1.0
mmcv-full==1.7.1
mmcv-lite==2.1.0
mmdet==2.28.2
mmengine==0.10.3
mmh3==5.1.0
model-index==0.1.11
mongoengine==0.29.1
monotonic==1.6
more-itertools==10.5.0
motor==3.6.1
MouseInfo==0.1.3
moviepy==1.0.3
mpire==2.10.2
mpmath==1.3.0
msgpack==1.0.5
msgpack-numpy==0.4.8
msrest==0.7.1
mss==9.0.1
multidict==6.0.2
multiprocess==0.70.15
multitasking==0.0.11
multivolumefile==0.2.3
murmurhash==1.0.9
mutagen==1.46.0
mypy-extensions==1.0.0
narwhals==1.8.4
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1.3
nltk==3.9.1
notebook==6.5.4
notebook_shim==0.2.3
nptyping==1.4.4
ntplib==0.4.0
numba==0.60.0
numexpr==2.8.4
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.21.0
onnxruntime-gpu==1.17.1
openai==1.66.5
opencv-python==4.7.0.72
opencv-python-headless==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.5
opentelemetry-api==1.28.2
opentelemetry-exporter-prometheus==0.49b2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-aiohttp-client==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-instrumentation-grpc==0.49b2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
openxlab==0.0.37
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.10.15
ormsgpack==1.9.0
oss2==2.17.0
outcome==1.2.0
overrides==7.3.1
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.0
parsedatetime==2.6
parso==0.8.3
pathos==0.3.1
pathspec==0.9.0
pathvalidate==3.2.3
pathy==0.10.2
patsy==1.0.1
pbs-installer==2025.3.11
pdf==2020.11.12
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20240706
pdfplumber==0.11.5
pdfservices-sdk==4.1.0
pdftotree==0.5.0
peewee==3.17.6
pendulum==2.1.2
pickleshare==0.7.5
pillow==10.4.0
pinecone==6.0.1
pinecone-plugin-interface==0.0.7
pip==25.0.1
pkginfo==1.12.1.2
platformdirs==4.3.6
playwright==1.34.0
plotly==5.15.0
pluggy==1.5.0
plumber==1.7
poetry==2.1.1
poetry-core==2.1.1
portalocker==3.1.1
posthog==3.21.0
pox==0.3.3
ppft==1.7.6.7
pprintpp==0.4.0
praw==7.7.0
prawcore==2.3.0
preshed==3.0.8
priority==2.0.0
proglog==0.1.10
prometheus-client==0.17.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==5.29.3
proto-plus==1.25.0
psutil==5.9.4
psychtoolbox==3.0.19.0
puremagic==1.28
pure-eval==0.2.2
py3Dmol==2.4.0
py7zr==0.22.0
pyarrow==19.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pybcj==1.0.6
pyclipper==1.3.0.post6
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.18.0
pydantic==2.10.6
pydantic_core==2.27.2
pydantic-settings==2.7.1
pydash==8.0.5
pydeck==0.9.1
pydub==0.25.1
pyee==9.0.4
PyExecJS==1.5.1
PyGetWindow==0.0.9
pyglet==1.4.11
Pygments==2.13.0
PyJWT==2.6.0
pylsl==1.16.1
pymongo==4.9.2
PyMsgBox==1.0.9
PyMuPDF==1.25.2
PyMySQL==1.1.1
pyodbc==5.2.0
pyOpenBCI==0.13
pyOpenSSL==24.3.0
pyparsing==3.0.9
pypdf==3.17.4
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.8.2
PyPika==0.48.9
pypiwin32==223
pypi-search==1.2.2
pyppmd==1.1.1
pyproject_hooks==1.2.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.12.4
pyreadline3==3.4.1
pyreadstat==1.2.8
PyRect==0.2.0
pyrsistent==0.19.2
pyscreenshot==3.1
PyScreeze==0.1.29
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.3
python-box==7.2.0
python-daemon==3.1.2
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-gitlab==3.15.0
python-jose==3.3.0
python-json-logger==2.0.7
python-multipart==0.0.20
python-nvd3==0.15.0
python-pptx==1.0.2
python-slugify==7.0.0
python-vlc==3.0.11115
pytimeparse==1.1.8
pytorch-lightning==2.2.1
pyttsx3==2.90
pytweening==1.0.7
pytz==2022.6
pytzdata==2020.1
PyWavelets==1.4.1
pywin32==307
pywin32-ctypes==0.2.3
pyWinhook==1.6.2
pywinpty==2.0.10
pyxdf==1.16.4
PyYAML==6.0
pyzbar==0.1.9
pyzmq==25.1.0
pyzstd==0.16.2
py-cpuinfo==9.0.0
querystring-parser==1.2.4
questplus==2023.1
RapidFuzz==3.12.2
rarfile==4.2
ravenclaw==2020.11.12
rdflib==7.1.2
rdkit==2024.9.6
referencing==0.36.2
regex==2023.8.8
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==12.6.0
rouge_score==0.1.2
rpds-py==0.22.3
rsa==4.9
Rtree==1.3.0
s3transfer==0.6.2
sacrebleu==2.5.1
safetensors==0.5.2
samplerate==0.1.0
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.14.1
seaborn==0.12.2
selectivesearch==0.4
selenium==4.11.2
semantic-text-splitter==0.24.1
semchunk==2.2.2
Send2Trash==1.8.2
sentencepiece==0.2.0
sentence-transformers==3.4.1
sentry-sdk==2.23.1
serpapi==0.1.5
setproctitle==1.3.3
setproctitle==1.3.4
setuptools==69.2.0
shap==0.46.0
shellingham==1.5.4
shutils==0.1.0
silverware==2020.11.12
simple-parsing==0.1.7
six==1.16.0
sklearn==0.0.post5
slicer==0.0.8
slytherin==2020.11.12
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snowflake-connector-python==3.13.2
snowflake-snowpark-python==1.27.0
snowflake-sqlalchemy==1.7.3
snowplow-tracker==1.0.4
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SpeechRecognition==3.14.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
SQLAlchemy==1.4.44
SQLAlchemy==2.0.35
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.3
sqlparse==0.5.1
sqlparse==0.5.3
srsly==2.4.7
sseclient-py==1.8.0
sse-starlette==0.10.3
stable-baselines3==2.1.0
stack-data==0.6.2
starlette==0.45.3
statsmodels==0.14.4
stmol==0.0.9
strawberry-graphql==0.266.0
streamlit==1.38.0
swagger-ui-bundle==0.0.9
sympy==1.13.1
tables==3.8.0
tabulate==0.9.0
tabula-py==2.9.3
tavily-python==0.5.1
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0
tensorflow-datasets==4.9.8
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.17.0
termcolor==2.1.1
termcolor==2.3.0
terminado==0.17.1
texttable==1.7.0
text-unidecode==1.3
Theano==1.0.5
thinc==8.1.12
thop==0.1.1-2209072238
threadpoolctl==3.1.0
tifffile==2023.8.25
tiktoken==0.9.0
timm==0.9.1
tinycss2==1.2.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchmetrics==1.3.2
torchvision==0.21.0+cu118
torch-tb-profiler==0.4.3
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.52.3
translators==5.7.6
trio==0.22.2
trio-websocket==0.10.3
trove-classifiers==2025.3.13.13
txt==2020.11.12
typer==0.12.5
types-PyYAML==6.0.12.20240917
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.12.2
typing-inspect==0.9.0
typish==1.9.3
tzdata==2023.3
tzlocal==5.3
uc-micro-py==1.0.1
ujson==5.8.0
ultralytics==8.1.30
undetected-chromedriver==3.5.5
unicodecsv==0.14.1
Unidecode==1.3.6
universal-analytics-python3==1.1.1
unzip==1.0.0
update-checker==0.18.0
uritemplate==4.1.1
uri-template==1.2.0
urllib3==1.26.13
uvicorn==0.23.1
virtualenv==20.29.3
voxel51-eta==0.14.0
waitress==2.1.2
Wand==0.6.13
wandb==0.19.8
wasabi==1.1.2
watchdog==4.0.2
watchfiles==1.0.4
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websockets==14.2
websocket-client==1.5.2
Werkzeug==2.2.2
wget==3.2
wheel==0.40.0
widgetsnbextension==3.5.2
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
wxPython==4.2.1
xarray==2023.5.0
xgboost==2.1.1
xlrd==2.0.1
XlsxWriter==3.2.1
xmltodict==0.13.0
xxhash==3.5.0
yapf==0.40.2
yarl==1.8.1
yfinance==0.2.43
youtube-transcript-api==0.6.3
yt-dlp==2023.3.4
zipp==3.18.1
zope.event==4.6
zope.interface==6.0
zstandard==0.23.0
PyBluez==0.30
terminaltables==3.1.10
shapely==2.0.3
pycocotools==2.0.7
mlProject==1.0.0
MultiScaleDeformableAttention==1.0
textSummarizer==1.0.0
textSummarizer==1.0.0
